.App {
  background-color: rgba(0, 0, 0, 0.34);
  width: 100vw;
  height: 100%;
 
}

@media screen and (min-width:1922px) {
  .App{
    max-width: 1922px;
    margin: 0 auto;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

